---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach

IndentCaseLabels: false

AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

SpacesInParentheses: false
---
